<!DOCTYPE html>

<html>
<head>
<meta charset="ISO-8859-1" />
<title>RMS - Home page</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" href="../../static/css/self-defined.css" />
</head>
<body>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">RMS</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li class="header-user-info">
						<span>Friski Y Pratama</span>
						<span class="title">(Admin)</span>
					</li>
					<li>
						<a href="#">
							<i class="material-icons">settings</i>
						</a>
					</li>
					<li>
						<a href="#" onclick="$('#logout-form').submit()">
							<i class="material-icons">power_settings_new</i>
						</a>
					</li>
				</ul>
			</div>

			<form id="logout-form" style="display: none" method="post" action="/logout"></form>
		</nav>
	</div>

	<div class="content">
		<h4 class="center-align">RMS Home page</h4>

		<div class="row center-align">
			<a class="waves-effect waves-light btn-large" href="./list-page.html">
				Go to List Page
				<i class="material-icons right">send</i>
			</a>
		</div>
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="../../static/js/self-defined.js"></script>
	<script type="text/javascript">
		$(function() {
			console.log("inline script loaded");
		});
	</script>
</body>
</html>