<!DOCTYPE html>

<html>
<head>
<meta charset="ISO-8859-1" />
<title>RMS - Table</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" href="../../static/css/self-defined.css" />
</head>
<body>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">RMS</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li class="header-user-info">
						<span>Friski Y Pratama</span>
						<span class="title">(Admin)</span>
					</li>
					<li>
						<a href="#">
							<i class="material-icons">settings</i>
						</a>
					</li>
					<li>
						<a href="#" onclick="$('#logout-form').submit()">
							<i class="material-icons">power_settings_new</i>
						</a>
					</li>
				</ul>
			</div>

			<form id="logout-form" style="display: none" method="post" action="/logout"></form>
		</nav>
	</div>

	<div class="content">
		<h4 class="center-align">Second Page</h4>

		<div class="row">
			<div class="col s6 offset-s3">
				<table>
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Email</th>
							<th>Username</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Friski F Pratama</td>
							<td>friskifpratama@mitrais.com</td>
							<td>friskifpratama</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Bruce Wyne</td>
							<td>brucewyne@mitrais.com</td>
							<td>brucewyne</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Peter Parker</td>
							<td>peterparker@mitrais.com</td>
							<td>peterparker</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col s6 offset-s3 center-align">
				<a class="waves-effect waves-light btn-large" href="#" onclick="doSomeAjaxCall()">
					Try Ajax Calls
					<i class="material-icons right">send</i>
				</a>
				<div>Ajax response:</div>
				<div id="ajax-response"></div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="../../static/js/self-defined.js"></script>
	<script type="text/javascript">
		function doSomeAjaxCall() {
			$.ajax(
					{
						method : "GET",
						url : "http://localhost:9000/api/employee"
					}).done(function(response) {
				$("#ajax-response").html(JSON.stringify(response));
			});
		}
	</script>
</body>
</html>
